{
  "driver": "mysql",
  "username": "root",
  "password": "",
  "host": "localhost",
  "port": "3306",
  "schema": "test",
  "listSheetName":"表清单",
  "excelPath":"./result.xlsx",
  "tableColName": "表名",
  "ConcurrentNum": 50,
  "style": {
      "hyperLinkStyle": {
        "font": {
          "underline": "single",
          "color": "#0066CC"
        }
      },
      "hyperLinkTitleStyle": {
        "font": {
          "underline": "single",
          "color": "#0066CC"
        },
        "alignment": {
          "horizontal": "center"
        }
      }
    }
}