{
  "driver": "mysql",
  "username": "root",
  "password": "",
  "host": "localhost",
  "port": "3306",
  "schema": "test",
  "listSheetName":"表清单",
  "excelPath":"%USERPROFILE%\\Desktop",
  "tableColName": "表名"
}